
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guide|用户须知</title>
    <meta charset="gb2312">
    <meta name="robots" content="all" />
    <meta name="author" content="Evilrabbit" />
    <meta name="Copyright" content="Evilrabbit" />
    <style type="text/css">
        /*==========基本样式==========*/
        body,div,h1,h2,h3,h4,form,img,ul,ol,li,dl,dt,dd,p 
        {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        h1, h2, h3, h4 {
            font-size: 100%;
        }

        img {
            border: 0;
        }

        table {
            border-collapse: collapse;
        }

        a {
            color: #666666;
            text-decoration: none;
            outline: none;
        }

            a:hover {
                color: #f00;
                text-decoration: none;
            }

        /*清除浮动*/ 
        * html .q 
        {
            height: 1%;
        }

        * + html .q {
            height: 1%;
        }

            .q:after {
                content: "";
                display: block;
                height: 0;
                clear: both;
                overflow: hidden;
            }

        .clear {
            clear: both;
            height: 0px;
            overflow: hidden;
        }

        .hidden {
            display: none;
        }

        body {
            font-size: 12px;
            color: #666666;
            font-family: simsun;
        }

        #header {
            max-width: 1000px;
            margin: 0 auto;
            padding: 36px 0 0
        }

            #header h1 {
                max-width: 1000px;
                height: 160px;
                margin: 0 auto;
                padding-top: 20px;
            }

            #header a {
                display: block;
                width: 172px;
                height: 53px;
                overflow: hidden;
                text-indent: -9999px;
                margin: 0 0 0 42px;
            }

        .content {
            width: 920px;
            margin: -105px auto 0;
            padding: 0 40px 40px;
            background: #fff;
            line-height: 22px;
        }

            .content h2 {
                height: 40px;
                line-height: 40px;
                padding: 0 0 25px;
                margin: 0 0 25px;
                font-family: Microsoft YaHei;
                font-size: 30px;
                line-height: 40px;
                font-weight: normal;
                text-align: center;
                border-bottom: 1px solid #d1d1d1;
            }

            .content h3 {
                margin: 20px 0 5px;
            }

            .content p {
            }

            .content a {
                text-decoration: underline;
            }

                .content a:hover {
                    color: #f00;
                    text-decoration: underline;
                }

        .author {
            padding: 10px 0;
            text-align: right;
            font-weight: bold;
        }

        #footer_ied {
            height: 146px;
            text-align: center;
            font-size: 12px;
            line-height: 19px;
            font-family: Tahoma;
        }

        .wrap_ied {
            margin: 0 auto;
            padding: 20px 0 0;
            color: #666666;
        }

            .wrap_ied p a {
                color: #666666;
            }

                .wrap_ied p a:hover {
                    color: #f00;
                }

        #footer_ied p.e {
            margin-top: -4px;
            font-size: 10px;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div id="header">
            <h1></h1>
        </div>
        <div class="content">
            <h2>Guide网站《免责声明》《服务条款》及《隐私政策》</h2>
            <p><strong>感谢您浏览或使用Guide网站，本网站为资料网站，并不针对任何组织和个人。您均应仔细阅读本声明，您可选择不使用我们的服务，一旦使用，即被视为对本声明全部内容的认可和接受。部分免责条款可能以黑体加粗形式提示您注意。</strong></p>
            <p><strong>请注意：如果您未满16周岁，请在法定监护人的陪同下阅读本协议。</strong></p>
            <h3>一、【定义】</h3>
            <p>1.1 <strong>本协议：</strong>指本协议正文。</p>
            <p>1.2 <strong>数据服务提供方：</strong>指向您提供数据及其服务的公司，在本协议中简称为“数维科技”。</p>
            <p>1.3 <strong>网络服务：</strong>指数维科技和Evil rabbit向您提供的与本网站相关的各项在线运营服务。</p>
            <p>1.4 <strong>您：</strong>又称“<strong>用户</strong>”，指被授权使用Guide网站及其服务的自然人。</p>
            <p>1.5 <strong>用户数据：</strong>指您在使用或浏览过程中产生的被服务器自主记录的各种数据，包括账户日志、Cookie、登录位置(网络IP)、安全日志等数据。</p>
            <h3>二、【协议的变更和生效】</h3>
            <p>2.1 Guide有权在必要时变更本协议条款，并在相关页面进行通知。您可以在本网站的相关页面查阅最新版本的协议条款。</p>
            <p>2.2 本协议条款变更后，如果您继续使用Guide服务，即视为您已接受变更后的协议。如果您不接受变更后的协议，应当停止使用Guide的网络服务。</p>
            <h3>三、【网站账号】</h3>
            <p>&nbsp;</p>
            <p>3.1 <strong>您充分理解并同意，为提高Guide服务的安全水平，Guide有权将有关技术或软件应用到网站中，但Guide不保证这些安全保障措施可以完全杜绝账号被他人窃取或丢失的风险</strong>。</p>
            <p>3.2 <strong>您充分理解并同意，若Guide依照相关业务规则限制、冻结或终止您的网站账号的使用，可能会导致您数据及相关信息被删除，以及相关权益的丧失，该损失由您自行承担，对此Guide不承担任何责任</strong>。</p>
            <p>3.3 <strong>您充分理解并同意，为高效利用服务器资源，如果您长期未使用Guide账号登录Guide网站，Guide有权视需要，在提前通知的情况下，对该账号及其账号下的数据及相关信息采取删除等处置措施，上述处置可能导致您对该账号下相关权益的丧失，对此Guide不承担任何责任</strong>。</p>
            <h3>四、【用户信息收集、使用及保护】</h3>
            <p>4.1 您同意并授权Guide为履行本协议之目的收集您的用户信息，这些信息包括您在注册系统中注册的信息、您网站账号下的数据以及其他您在使用Guide服务的过程中向Guide提供或Guide基于安全、用户体验优化等考虑而需收集的信息，Guide对您的用户信息的收集将遵循相关法律的规定。</p>
            <p>4.2 <strong>您充分理解并同意：为更好地向您提供Guide网站服务，Guide可以将您的用户信息提交给其关联公司，且Guide有权自行或通过第三方对您的用户信息进行整理、统计、分析及利用</strong>。</p>
            <p>4.3 <strong>您充分理解并同意：Guide或其合作的第三方可以根据您的用户信息，通过短信、电话、邮件等各种方式向您提供关于Guide的活动信息、推广信息等各类信息</strong>。</p>
            <p>4.4 Guide保证不对外公开或向任何第三方提供您的个人信息，但是存在下列情形之一的除外：</p>
            <p>（1）公开或提供相关信息之前获得您许可的；</p>
            <p>（2）根据法律或政策的规定而公开或提供的；</p>
            <p>（3）只有公开或提供您的个人信息，才能提供您需要的Guide服务的；</p>
            <p>（4）根据国家权力机关要求公开或提供的；</p>
            <h3>五、【用户行为规范】</h3>
            <p>5.1 您充分了解并同意，您必须为自己Guide账号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对Guide中的内容自行加以判断，并承担因使用Guide服务而引起的所有风险，包括因对Guide内容的正确性、完整性或实用性的依赖而产生的风险。Guide无法且不会对因前述风险而导致的任何损失或损害承担责任。</p>
            <p>5.2 您除了可以按照本协议的约定使用Guide服务之外，不得进行任何侵犯Guide的知识产权的行为，或者进行其他的有损于Guide或其他第三方合法权益的行为。</p>
            <p>5.3 除非法律允许或Guide书面许可，您不得从事下列行为：</p>
            <p>（1）删除网站及其副本上关于著作权的信息；</p>
            <p>（2）对网站进行反向工程、反向汇编、反向编译或者以其他方式尝试发现网站服务端的源代码；</p>
            <p>（3）对网站服务端进行扫描、探查、测试，以检测、发现、查找其中可能存在的BUG或弱点；</p>
            <p>（4）对网站服务端或者网站运行过程中释放到任何终端内存中的数据、网站运行过程中浏览器端与服务器端的交互数据，以及网站运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件或非经合法授权的第三方工具/服务接入网站和相关系统；</p>
            <p>（5）修改或伪造网站运行中的指令、数据，增加、删减、变动网站的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论上述行为是否为商业目的；</p>
            <p>（6）对网站中Guide拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</p>
            <p>（7）建立有关Guide的镜像站点，或者进行网页（络）快照，或者利用架设服务器等方式，为他人提供与Guide服务完全相同或者类似的服务；</p>
            <p>（8）将Guide的任意部分分离出来单独使用，或者进行其他的不符合本协议的使用；</p>
            <p>（9）使用Guide的名称、商标或其它知识产权；</p>
            <p>（10）其他未Guide讯明示授权的行为。</p>
            <h3>六、【免责声明】</h3>
            <p>6.1Guide服务以“现状”提供给您。Guide不保证：Guide服务无错误及不会中断、所有缺陷已被更正、或Guide服务不会受到病毒或任何其它因素的损害。除非有法律明确规定，Guide在此明确声明不承担任何明示或默示的担保责任，包括但不限于对Guide服务的性能、适用性或不侵权的担保。</p>
            <p>6.2 在任何情况下，Guide不对因不可抗力导致的您在使用Guide服务过程中遭受的损失承担责任。该等不可抗力事件包括但不限于国家法律、法规、政策及国家机关的命令或者其它的诸如地震、水灾、雪灾、火灾、海啸、台风、罢工、战争等不可预测、不可避免且不可克服的事件。</p>
            <p>6.3Guide可独立决定随时变更、终止、中止您对任何Guide服务的使用，无须向您发出任何提前通知，但根据法律法规规定或您与Guide的约定需要提前通知的除外。若因您的行为违反法律法规的规定或本协议的规定，Guide根据相关规定终止、中止您使用任何Guide服务，则Guide无须向您承担任何责任，且有权要求您承担相应的责任。</p>
            <p>6.4 <strong>Guide可能因网站BUG、版本更新缺陷、第三方病毒攻击或其他任何因素导致您的用户信息及虚拟货币等账号数据发生异常。在数据异常的原因未得到查明前，Guide有权暂时冻结该账号；若查明数据异常为非正常行为，Guide有权恢复账号数据至异常发生前的原始状态（包括向第三方追回被转移数据），且Guide无须向您承担任何责任</strong>。</p>
            <p>6.5 <strong>您充分理解到：第三方在Guide中投放的广告、链接或者其它形式的推广内容，均是由其自行提供的，您应当自行判断其真实性，Guide对其推广内容不作任何明示或者默示的担保</strong>。</p>
            <p>6.6 <strong>您充分理解到：不同操作系统之间存在不互通的客观情况，该客观情况并非Guide造成，由此可能导致您在某一操作系统中的充值和数据不能顺利转移到另一操作系统中。由于您在不同系统进行切换造成的充值损失和数据丢失风险应由您自行承担，不得要求Guide承担任何责任</strong>。</p>

            <h3>七、【知识产权】</h3>
            <p>7.1 Guide是Guide网站的知识产权权利人。Guide网站的一切著作权、商标权、专利权、商业秘密等知识产权，以及与Guide相关的所有信息内容（包括文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，Guide享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。</p>
            <p>7.2 您在使用Guide服务中产生的数据的所有权和知识产权归Guide所有，Guide有权处置该数据。</p>
            <p>7.3 Guide游戏可能涉及第三方知识产权，而该等第三方对您基于本协议在Guide中使用该等知识产权有要求的，Guide将以适当方式向您告知该要求，您应当一并遵守。</p>
            <h3>八、【遵守当地法律监管】</h3>
            <p>8.1 您在使用Guide服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。<strong>如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任</strong>。</p>
            <p>8.2 您应避免因使用Guide服务而使腾讯卷入政治和公共事件，否则Guide有权暂停或终止对您的服务。</p>
            <h3>九、【隐私政策】</h3>
            <p>9.1 <strong>在您自愿选择服务或提供信息的情况下，Guide会收集您提供的个人信息并将这些信息进行整合，以便为您提供更准确、更有针对性的服务。您在注册的时候，请尽量提供准确、详细的个人资料，并及时更新注册资料。所有原始键入的信息将引用为注册资料。为了保证您的合法权益，请不要将您的账号、密码转借给他人使用。如果您发现您的账号遭他人盗用，请立即通知Guide。因用户保管疏忽或黑客行为导致账号遭他人非法使用，Guide会尽力协助您解决但不承担责任。 </strong></p>
            <p>
                9.2 <strong>Cookie:</strong>Guide网站使用Cookie，以便您能登录我们的服务，或者设定您特定的服务选项。运用Cookie技术，Guide能够改善搜索结果以及为您提供更好的个性化服务。当您访问Guide时，我们允许将位于Guide域的Cookie发送给数维科技服务器。通过使用Cookie所收集的任何内容均以集合的、匿名的方式进行。
                大多数浏览器最初都设置为接受 Cookie，但您也可以通过修改浏览器设置的方式拒绝cookie或者让浏览器在接受cookie前给出提示。如果您选择拒绝cookie，一些依赖于cookie的Guide服务或功能可能会无法正常运行。
            </p>
            <p>9.3<strong>系统日志信息:</strong>当您通过浏览器或其他客户端访问Guide的服务时，服务器会自动记录一些信息。包括URL、IP 地址、浏览器类型、浏览器语言、访问的日期和时间等。</p>
            <h3>十、【管辖与法律适用】</h3>
            <p>10.1 <strong>本协议签订地为中华人民共和国甘肃省酒泉市肃州区</strong>。</p>
            <p>10.2 <strong>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）</strong>。</p>
            <p>10.3 <strong>若您和Guide之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交至本协议签订地有管辖权的人民法院管辖</strong>。</p>
            <p>10.4 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
            <p>10.5 本协议条款无论因何种原因部分无效，其余条款仍有效，对各方具有约束力。</p>
            <h3>十一、【其他】</h3>
            <p>11.1 如果您对本协议或Guide服务有意见或建议，可与evilrabbit520@gmail.com 联系，我们会给予您必要的帮助。</p>
            <p class="author">Guide运营团队签署于 UTC+8:00 15/01/2018 中国甘肃·酒泉</p>
        </div>
    </div>
    <script>if(typeof(pgvMain) == 'function') pgvMain();</script>
</body>
</html>
