
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>精选文章</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="Google guide" content="Evil rabbit">
    <meta name="Digital technology" content="Evil rabbit" />
    <meta name="Time" content="UTC+8 2018-01-15-23:44" />

    <link rel="alternate icon" type="img/hengwang-1.png" href="~/Content/images/Public/Glogo.png">
    <link rel="stylesheet" href="~/Content/css/Featured_articles/amazeui.css" />
    <link rel="stylesheet" href="~/Content/css/Featured_articles/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  @*第三方字体css*@
</head>
<body>
    <header class="am-topbar header">
        <div class="am-container-1">
            <div class="left hw-logo">
                <img src="~/Content/images/public/logo.png" />
            </div>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse'}">
                <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">

                <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
                    <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                        <li><a href="/Home/Index">首页</a></li>
                        <li class="hw-menu-active"><a href="/Home/Featured_articles">精选文章</a>
                        <li><a href="/Home/Recruitment">招贤纳士 </a></li>
                        <li><a href="https://jq.qq.com/?_wv=1027&k=5ODlSda">加入用户群</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="toppic">
        <div class="am-container-1">
            <div class="toppic-title left">
                <i class="am-icon-book toppic-title-i"></i>
                <span class="toppic-title-span">精选文章</span>
                <p>Featured articles</p>
            </div>
            @*（该模块暂时不用）
                <div class="right toppic-progress">
                <span><a href="index.html" class="w-white">首页</a></span>
                <i class=" am-icon-arrow-circle-right w-white"></i>
                <span><a href="service-center.html" class="w-white">服务中心</a></span>
            </div>*@
        </div>
    </div>
    <div class=" am-container-1">
        <div class="service-center">
            <ul class="service-ul">
                @*文章模块开始*@
                <li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                    <a href="/Home/Article_Google_1">
                        <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                            <h4 class="w-blue">世界的Google</h4>
                            <p>Hi,同学，你知道伟大的Googel公司吗？你知道他们的服务吗？你了解他们的运作方式吗？Google仅仅是你所听到和了解到那些吗？下面和我们一起去认识Google吧。</p>
                        </div>
                        <div class="am-u-lg-2 am-u-md-4 am-u-sm-12 service-img">
                            @*这里改间距*@
                        <img src="~/Content/images/Featured_articles/ios.png" />
                    </div>
                </a>
                </li>

                <li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                        <a href="/Home/Article_Google_1">
                        <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                            <h4 class="w-blue">开发用测试板块_1</h4>
                            <p>
                                开发板块字符测试我开发板块字符测试我开发板块字符测试我开发板块字符测试我开发板块字符测试我111开发板块字符测试我开发板块字符
                                111111111111111111111开发板块字符测试我开发
                            </p>
                        </div>
                    </a>
                    <div class="am-u-lg-2 am-u-md-4 am-u-sm-12 service-img">
                        <img src="~/Content/images/Featured_articles/ios.png" />
                    </div>
                    <div class="am-u-lg-2 am-u-md-2 am-u-sm-12 service-img">
                        <img src="~/Content/images/Featured_articles/ios.png" />
                    </div>
                </li>

                @*<li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                        <h4 class="w-blue">微信公众平台开发</h4>
                        <p>
                            具腾讯官方统计，目前微信月活跃用户达到了3亿，其中海外用户更是达到了4千万。随着微信用户的不断增加，腾讯对其微信产品：公众平
                            台帐号的不断投入与推广，对于企业客户来说，拥有一款微信公众平台产品比拥有一个企业官方网站更重要。我们不但致力于高品质App的开
                            发，而且在微信公众平台二次开发方面拥有优秀开发人才和市场推广经验。迄今为止，我们已经为数十家企业开发了微信公众平台帐号。客户
                            可以结合微信公众平台，更好得去运营App平台和网站，不但提高了用户的数量，而且更好得拉近了与用户的距离。
                        </p>
                    </div>
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 service-img">
                        <img src="img/wechat.png" />
                    </div>
                </li>
                <li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                        <h4 class="w-blue">服务器接口开发</h4>
                        <p>
                            无论ios平台、android平台、windows phone平台还是微信公众帐号平台，要想保持程序运行的稳定性、即时性，必须要有一个优良的服
                            务器平台作为支撑。我们为客户提供了全球领先的服务器开发语言PHP和JAVA。根据客户的不同需求选择不同的开发语言，我们的服务器接
                            口性能优良，支持十万百万级的用户并发量。
                        </p>
                    </div>
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 service-img">
                        <img src="img/webservice.png" />
                    </div>
                </li>
                <li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                        <h4 class="w-blue">企业网站开发</h4>
                        <p>
                            作为企业形象的门面，一个好的企业网站为客户的产品。武汉恒望不断致力于移动互联网产品的开发服务，更注重企业网站。
                            我们不但致力于高品质App的开发，而且在微信公众平台二次开发方面拥有优秀开发人才和市场推广经验。迄今为止，我们已经为数十家企业
                            开发了微信公众平台帐号。客户可以结合微信公众平台，更好得去运营App平台和网站，不但提高了用户的数量，而且更好得拉近了与用户的距离。
                        </p>
                    </div>
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 service-img">
                        <img src="img/website.png" />
                    </div>
                </li>
                <li class="am-u-lg-12 am-u-md-12 am-u-sm-12">
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-12 service-content">
                        <h4 class="w-blue">手机移动网站开发</h4>
                        <p>
                            随着智能手机用户数量的爆发式增长，企业在拥有一个桌面版的网站的同时，更需要拥有一个适配智能手机的移动版网站。事实证明，拥有移
                            动版的网站，可以让您的网站在移动版百度搜索结果里面拥有更好的排名。我们为客户提供了基于HTML5+CSS3+JQuery Mobile的移动版网站开
                            发前端技术，使客户的网站在多种平台多种分辨率下拥有统一的显示效果，另外可以实现更炫的动态效果。
                        </p>
                    </div>
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 service-img">
                        <img src="img/mwebsite.png" />
                    </div>
                </li>*@
            </ul>
        </div>
    </div>



    <footer class="footer ">

        <ul>

            <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
                <div class="part-5-title">联系我们</div>
                <div class="part-5-words2">
                    <span>地址:甘肃省-酒泉市-肃州区-盘旋西路</span>
                    <span>邮箱:evilrabbit520@Gmail.com</span>
                    <span>微信:Aprilhare_wjn</span>
                    <span><i class="am-icon-qq"></i><em>3114181277</em></span>
                </div>
            </li>

            <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
                <div class="part-5-title">相关链接</div>
                <div class="part-5-words2">
                    <ul class="part-5-words2-ul">
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">Googel guide</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="solutions.html">谷歌搜索</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="product-show.html">数维科技</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="recruit.html">招贤纳士</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">服务中心</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="https://jq.qq.com/?_wv=1027&k=5ODlSda">加入用户群</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>

            <li class="am-u-lg-3">
                <div class="part-5-title">我们一起</div>
                    <div class="part-5-words2">
                            <img src="~/Content/images/public/QR_code_qun.jpg" />
                    </div>
            </li>
            
            
        </ul>
        <div class="clear"></div>
    </footer>
    <script src="~/Content/js/Featured_articles/jquery.min.js"></script>
    <script src="~/Content/js/Featured_articles/amazeui.min.js"></script>
</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
</html>
