
@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-cn">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Google guide</title>
    <meta name="description" content="A free html template with Sketch design made with Bootstrap">
    <meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
    <meta name="author" content="Codrops" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/images/public/Glogo.png">

    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">

    <meta name="msapplication-TileColor" content="#66e0e5">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- end favicon links -->
    <link rel="stylesheet" href="~/Content/css/Index/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/Index/normalize.min.css">
    <link rel="stylesheet" href="~/Content/css/Index/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/Index/flickity.min.css">
    <link rel="stylesheet" href="~/Content/css/Index/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  @*第三方字体css*@
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script type="text/javascript">
        alert("您正在访问Google guide未建成的网站，由于网站后台仍在建设，网站暂时不提供数据服务。您所浏览的只是将来待建成的网站基础架构！现在，我们将关闭此页面外其他任何数据接口，这表明，您无法浏览此页面外其他页面，我们将会预留二维码加群方式，您仍可以通过扫描站点下方的二维码入群。");
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="header-nav-wrapper">
                <div class="logo">
                    <a href="#"><img src="~/Content/images/public/logo.png" alt="Synthetica Freebie"></a>
                </div>
                <div class="primary-nav-wrapper">
                    <nav>
                        @*<ul class="primary-nav">
                            <li><a href="">实用文档</a></li>
                            <li><a href="#jxwz">精选文章</a></li>
                            <li><a href="#zxns">招贤纳士</a></li>
                            <li><a href="#freebies">网站地图</a></li>
                        </ul>*@
                    </nav>
                   <!-- <div class="secondary-nav-wrapper">
                        <img src="~/Content/images/Index/logo.png" id="showimg" style="display: none" height=88>
                        @*<ul class="secondary-nav">
                            <li class="subscribe"><a href="#dibu">加入用户群</a></li>
                            <li class="search"><a href="#search" class="show-search"><i class="fa fa-search"></i></a></li>
                        </ul>*@
                    </div>-->
                    <div class="search-wrapper">
                        <ul class="search">
                            <li>
                                <input type="text" id="search-input" placeholder="Start typing then hit enter to search">
                            </li>
                            <li>
                                <a href="#" class="hide-search"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </div>
    </div>

    <header class="hero">
        <div class="carousel js-flickity">
            @*第一张开始*@
            <div class="carousel-cell" style="background-image: url(/Content/images/Index/home_main_1.jpg);">
                <div class="hero-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-center">Hi,与君初相识，犹如故人归.</h1>
                                @*<a href="#" class="btn primary">关于我们</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 hero-intro-text">
                                <p>网站由Evilrabbit开发，由数维云提供计算服务.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*第二张开始*@
            <div class="carousel-cell" style="background-image: url(/Content/images/Index/home_main_3.jpg);">
                <div class="hero-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-center">En,休对故人思故国,且将新火试新茶.</h1>
                                @*<a href="#" class="btn primary">查看文档</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 hero-intro-text">
                                <p>你有多久没有看到满天的繁星，城市夜晚虚伪的光明遮住你的眼睛.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class='mouse-container'>
            <a href="#intro">
                <div class='mouse'>
                    <span class='scroll-down'></span>
                </div>
            </a>
        </div>
    </header>
    <!-- SECTION: Intro -->
    @*<section class="collective has-padding" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>The collective</h4>
                </div>
                <div class="col-md-9">
                    <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund hella. Kinfolk gluten-free lo-fi quinoa. Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.</p>
                    <div class="video-player">
                        <video id="video_synth" class="video-js vjs-default-skin vjs-big-play-centered " controls preload="auto" width="568" height="300" poster="~/Content/images/Index/video-cover.jpg" data-setup='{}'>
                            <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
                            <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm" />
                            <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                        </video>
                    </div>
                    <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund hella. Kinfolk gluten-free lo-fi quinoa. </p>
                    <p>Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.</p>
                </div>
            </div>
        </div>
    </section>*@
    <!-- END SECTION: Intro -->
    <!-- SECTION: Crew -->
    @*<section class="crew has-padding alternate-bg" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>The Crew</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="crew-member" style="background-image: url(/Content/images/Index/crew-peter-finlan.jpg)">
                        <figure>
                            <figcaption class="overlay">
                                <h2>Peter Finlan</h2>
                                <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                                <div class="crew-socials">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="crew-member" style="background-image: url(/Content/images/Index/crew-blaz-robar.jpg)">
                        <figure>
                            <figcaption class="overlay">
                                <h2>Blaz Robar</h2>
                                <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                                <div class="crew-socials">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="crew-member" style="background-image: url(/Content/images/Index/crew-mary-lou.jpg)">
                        <figure>
                            <figcaption class="overlay">
                                <h2>Mary Lou</h2>
                                <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                                <div class="crew-socials">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="crew-member" style="background-image: url('/Content/images/Index/crew-dude.jpg')">
                        <figure>
                            <figcaption class="overlay">
                                <h2>Kobe West</h2>
                                <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                                <div class="crew-socials">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="row skillset">
                <div class="col-md-6">
                    <div class="bar-chart-wrapper">
                        <h5 class="bar-chart-text">Experience Design <span class="push-right">90%</span></h5>
                        <div class="bar-wrapper">
                            <div class="bar" data-percentage="90%">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="bar-chart-wrapper">
                        <h5 class="bar-chart-text">HTML5/CSS3 <span class="push-right">95%</span></h5>
                        <div class="bar-wrapper">
                            <div class="bar" data-percentage="95%">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bar-chart-wrapper">
                        <h5 class="bar-chart-text">Interactive Prototyping <span class="push-right">80%</span></h5>
                        <div class="bar-wrapper">
                            <div class="bar" data-percentage="80%">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="bar-chart-wrapper">
                        <h5 class="bar-chart-text">Visual Design <span class="push-right">90%</span></h5>
                        <div class="bar-wrapper">
                            <div class="bar" data-percentage="90%">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    @*(该模块待设计)
        <div class="stats has-padding-tall">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 stats-container">
                    <i class="icon icon-Cup"></i>
                    <div class="stats-wrapper">
                        <p class="stats-number" data-stop="24">24</p>
                        <p class="stats-text">Awards won</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 stats-container">
                    <i class="icon icon-Book"></i>
                    <div class="stats-wrapper">
                        <p class="stats-number" data-stop="341">341</p>
                        <p class="stats-text">Articles</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 stats-container">
                    <i class="icon icon-Pen"></i>
                    <div class="stats-wrapper">
                        <p class="stats-number" data-stop="43">43</p>
                        <p class="stats-text">Freebies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- END SECTION: Stats -->
    <!-- SECTION: Articles -->
   <!-- <section class="latest-articles has-padding alternate-bg" id="jxwz">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h4>精选 科技文章</h4>
                </div>
                @*（排序方式，无法正常使用！！）
                    <div class="col-md-8 col-sm-8 sort">
                    <h5>Sort by</h5>
                    <select name="article-sort" id="inputArticle-Sort" class="">
                        <option value="">Experience Design</option>
                        <option value="">Visual Design</option>
                        <option value="">UI Patterns</option>
                        <option value="">Product Design</option>
                    </select>
                </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-4">
                    <article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-01.jpg)">
                                <span class="featured-tag">置顶</span>
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>我们日常使用的谷歌服务，竟然来源于这么伟大的公司</h2>
                                    <p>谷歌的Boss以及他的公司，竟然这么伟大!</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">Evilrabbit</a>
                            </li>
                        </ul>
                    </article>
                </div>*@
                <div class="col-md-4">
                    @*<article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-02.jpg)">
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>The 10 best traits of a awesome design leaders</h2>
                                    <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">Teams</a>
                            </li>
                            <li class="article-comments">
                                <span><i class="fa fa-comments"></i> 42</span>
                            </li>
                        </ul>
                    </article>*@
                </div>
                <div class="col-md-4">
                    @*<article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-03.jpg)">
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>How to design well collaboratively with an agile product team</h2>
                                    <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">Teams</a>
                            </li>
                            <li class="article-comments">
                                <span><i class="fa fa-comments"></i> 58</span>
                            </li>
                        </ul>
                    </article>*@
                </div>
            </div>
            <div class="row has-top-margin">
                <div class="col-md-4">
                    @*<article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-04.jpg)">
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>The essentials of modern interaction design (mobile + tablet)</h2>
                                    <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">UX Design</a>
                            </li>
                            <li class="article-comments">
                                <span><i class="fa fa-comments"></i> 14</span>
                            </li>
                        </ul>
                    </article>*@
                </div>
                <div class="col-md-4">
                    @*<article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-05.jpg)">
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>Overcoming barriers encountered in the pitch process (part 1)</h2>
                                    <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">Product</a>
                            </li>
                            <li class="article-comments">
                                <span><i class="fa fa-comments"></i> 55</span>
                            </li>
                        </ul>
                    </article>*@
                </div>
                <div class="col-md-4">
                    @*<article class="article-post">
                        <a href="#">
                            <div class="article-image has-overlay" style="background-image: url(/Content/images/Index/article-06.jpg)">
                            </div>
                            <figure>
                                <figcaption>
                                    <h2>10 things we've learnt about our users (Case Study)</h2>
                                    <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>
                                </figcaption>
                            </figure>
                        </a>
                        <ul class="article-footer">
                            <li class="article-category">
                                <a href="#">UX Design</a>
                            </li>
                            <li class="article-comments">
                                <span><i class="fa fa-comments"></i> 20</span>
                            </li>
                        </ul>
                    </article>*@
                </div>
            </div>
            <div class="row is-centered">
                <a href="/Home/Featured_articles" class="btn secondary view-more">更多文章</a>
            </div>
        </div>
    </section>-->
    <!-- END SECTION: Articles -->
    <!-- SECTION: Freebies -->
    @*<section class="freebies has-padding" id="freebies">
        <div class="container freebies-intro">
            <div class="row">
                <div class="col-md-12">
                    <h4>墙外 很精彩</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 content-left">
                    <p>很久了，我们都在中国这个伟大的国家内欣赏着跨地区的风景，从西北大漠边疆到东南沿海风光，你可曾想过国外是怎样的吗？其实国外的人也在和我们做一样的事情，每天工作、学习、休闲、娱乐，但是他们的生活方式要比我们舒适得多当然这里小编不是崇洋媚外，说这么好小编也不向往国外，只是很单纯的喜欢他们的软件和高新科技，很值得我们学习，同时也希望祖国越来越好，引领第四次科技革命。下面不妨和我们一块去看看墙外的世界吧？</p>
                </div>
                <div class="col-md-6 content-right">
                    <p>
                        准备工作：<br/>
                                    1.科学上网工具。（可在群内获取）<br/>
                                    2.国外网站网站。（可在网站"<a href="#">实用文档</a>"中查找）<br/>
                                    3.正确实用科学上网工具对指定链接、网址进行访问。<br/>
                        请注意：您在境外服务商那里所浏览、发布的内容需您自己承担法律责任Google guide为此承担任何责任。您不得在境外论坛发布任何关于颠覆中国国家政权（包括但不仅限于：颠覆国家主权和领土完整，泄漏国家军事政治机密，带有性别歧视、种族歧视、信仰歧视）的内容和信息。
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <article class="item">
                        <figure class="has-overlay">
                            <figcaption class="overlay">
                                <div class="freebie-content">
                                    <span class="date">03/01/2016</span>
                                    <h2>Sedna HTML CSS Template</h2>
                                    <div class="group ">
                                        <a href="http://tympanus.net/codrops/2015/08/11/freebie-sedna-one-page-website-template/" class="btn secondary">Download</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="~/Content/images/Index/sedna-freebie.jpg" alt="Sedna Freebie">
                        </figure>
                    </article>
                </div>
                <div class="col-md-6 no-padding">
                    <article class="item">
                        <figure class="has-overlay">
                            <figcaption class="overlay">
                                <div class="freebie-content">
                                    <span class="date">03/01/2016</span>
                                    <h2>Land.io Sketch Template</h2>
                                    <div class="group">
                                        <a href="http://tympanus.net/codrops/2015/09/16/freebie-land-io-ui-kit-landing-page-design-sketch/" class="btn secondary">Download</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="~/Content/images/Index/landio-freebie.jpg" alt="Land.io Freebie">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 no-padding">
                    <article class="item">
                        <figure class="has-overlay">
                            <figcaption class="overlay">
                                <div class="freebie-content">
                                    <span class="date">03/01/2016</span>
                                    <h2>Synthetica HTML5/CSS3 Template</h2>
                                    <div class="group">
                                        <a href="http://tympanus.net/codrops/?p=26570" class="btn secondary">Download</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="~/Content/images/Index/freebie-03.jpg" alt="Synthetica Freebie">
                        </figure>
                    </article>
                </div>
                <div class="col-md-6 no-padding">
                    <article class="item">
                        <figure class="has-overlay">
                            <figcaption class="overlay">
                                <div class="freebie-content">
                                    <span class="date">03/01/2016</span>
                                    <h2>Free logo concepts by Koby West</h2>
                                    <div class="group">
                                        <a href="#" class="btn secondary">Download</a>
                                    </div>
                                </div>
                            </figcaption>
                            <img src="/Content/images/Index/freebie-04.jpg" alt="Synthetica">
                        </figure>
                    </article>
                </div>
                <div class="is-centered">
                    <a href="#" class="btn secondary view-more">想看更多</a>
                </div>
            </div>
        </div>
    </section>*@
    <!-- END SECTION: Freebies -->
    <!-- SECTION: Get started -->
    <section class="get-started has-padding text-center" id="get-started">@*该模块背景图片在"styles.css"文档中修改*@
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>欢迎您加入我们，让我们一起服务于伟大的互联网.</h2>
                    @*<a href="#" class="btn secondary-white">加入我们</a>*@
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION: Get started -->
    <!-- SECTION: Footer -->
    <footer class="has-padding footer-bg" id="zxns">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-branding">
                    <img class="footer-branding-logo" src="~/Content/images/public/logo.png" alt="Synthetica freebie html5 css3 template logo">
                    <p>专为<a title="点击进入QQ群" href="https://jq.qq.com/?_wv=1027&k=5ODlSda">Google guide</a>群创建的资料网站</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 footer-nav" id="dibu">
                    @*<ul class="footer-primary-nav">
                        <li><a href="#">实用文档</a></li>
                        <li><a href="#jxwz">精选文章</a></li>
                        <li><a href="#zxns">招贤纳士</a></li>
                        <li><a href="#">商务合作</a></li>
                        <li><a href="#">网站地图</a></li>
                    </ul>*@
                    @*<ul class="footer-share">
                        <li><a href="#">用户协议</a></li>
                        <li><a href="https://jq.qq.com/?_wv=1027&k=5ODlSda" class="share-trigger"><i class="fa fa-share"></i>去加入用户群</a></li>
                    </ul>*@
                    <div class="col-md-2">
                        <img src="~/Content/images/public/QR_code_qun.jpg" />
                    </div>
                    @*<div class="share-dropdown">
                        <ul>
                            <li><a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>*@
                    <ul class="footer-secondary-nav">
                        <li><p>&copy; Copyright 2018-2020 <a href="#">Google guide</a> all rights reserved.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        @*此script标签内包含 数据之家站长统计的js统计代码-第三方*@
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1272184281'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272184281%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </footer>
    <script src="~/Content/js/Index/js/jquery.min.js"></script>
    <script src="~/Content/js/Index/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/Index/js/video.min.js"></script>
    <script src="~/Content/js/Index/js/scripts.js"></script>
    <script>
	window.jQuery || document.write('<script src="js/min/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="~/Content/js/Index/min/bootstrap.min.js"></script>
    <script src="~/Content/js/Index/min/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="~/Content/js/Index/min/retina.min.js"></script>
    <script src="~/Content/js/Index/min/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/Index/min/flickity.pkgd.min.js"></script>
    <script src="~/Content/js/Index/min/scripts-min.js"></script>
</body>

</html>

