
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>Google guide|招贤纳士</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="Google guide" content="Evil rabbit">
    <meta name="Digital technology" content="Evil rabbit" />
    <meta name="Time" content="UTC+8 2018-01-15-23:44" />

    <link rel="alternate icon" type="img/hengwang-1.png" href="~/Content/images/Public/Glogo.png">   @*标签页LOGO*@ 
    <link rel="stylesheet" href="~/Content/css/Recruitment/amazeui.css" />
    <link rel="stylesheet" href="~/Content/css/Recruitment/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  @*第三方字体css*@
</head>

<body>
    <header class="am-topbar header">
        <div class="am-container-1">
            <div class="left hw-logo">
                <img class=" logo" src="~/Content/images/public/logo1.png">
            </div>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse'}">
                <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">

                <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
                    <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="/Home/Featured_articles">精选文章</a>
                        <li class="hw-menu-active"><a href="/Home/Recruitment">招贤纳士 </a></li>
                        <li><a href="https://jq.qq.com/?_wv=1027&k=5ODlSda">加入用户群</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="toppic">
        <div class="am-container-1">
            <div class="toppic-title left">
                <img src="~/Content/images/Public/logo1.png" />
                @*（一边放一放）<i class="am-icon-paper-plane toppic-title-i"></i>
    <span class="toppic-title-span">招贤纳士</span>*@<br/>
                <p><font color="#FFD306">We look forward to your arrival.</font></p>
            </div>
            @*（该模块暂时不用）
                <div class="right toppic-progress">
                <span><a href="index.html" class="w-white">首页</a></span>
                <i class=" am-icon-arrow-circle-right w-white"></i>
                <span><a href="service-center.html" class="w-white">服务中心</a></span>
            </div>*@
        </div>
    </div>
    <div>
        <ul class=" product-show-ul">
            @* 第一个招聘模块 *@
            <li>
                <div class="product-content">
                    <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-left">
                        <img class="product-img" src="~/Content/images/Recruitment/zhaoping1.png" />
                    </div>
                    <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-right">

                        <div class="product-show-title">
                            <span>客服</span>
                        </div>
                        <div class="product-show-content">

                            <div class="product-add">
                                <span>岗位描述：</span>
                                <div>
                                    <p>1.及时从开发了解网站运作状况。</p>
                                    <p>2.用友好平等的心态解答问题。</p>
                                    <p>3.管理群内事物。</p>
                                    <p>4.责任心强,能承受工作压力。</p>
                                </div>
                            </div>

                            <div class="product-add">
                                <span>任职资格：</span>
                                <div>
                                    <p>1、要求能独立上岗及管理群成员[学历不限（年满16周岁）]；</p>
                                    <p>2、每天有大量时间，并在第一时间解答用户问题；</p>
                                    <p>3、拥有一个QQ账号（优先）；</p>
                                    <p>4、事业心强，勤奋好学，有团队精神；</p>
                                </div>
                            </div>

                            <div class="product-add">
                                <span>相关：</span>
                                <div>
                                    <p>更新时间：2018-01-16</p>
                                    <p>职别类型：客服</p>
                                    <p>工作地点：自订</p>
                                    <p>招募人数：<font color="#FF5809">2</font>&nbsp;人</p>
                                    <p>月均薪资：<font color="#FF5809">0.5k</font>&nbsp;元</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
        <HR>
        <ul class=" product-show-ul">
            @* 第二个招聘模块 *@
            <li class="">
                <div class="product-content">
                    <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-right">
                        <img class="product-img" src="~/Content/images/Recruitment/zhaoping1.png" />
                    </div>
                    <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-left">
                        <div class="product-show-title ">
                            <span>前端工程师</span>
                        </div>

                        <div class="product-show-content">
                            <div class="product-add">
                                <span>岗位描述：</span>
                                <div>
                                    <p>1.熟悉网站开发搭建的流程，了解网站开发的目标。</p>
                                    <p>2.能独立运用html、css、javascript等语言进行网站的开发。</p>
                                    <p>3.按时保质保量完成项目开发,运行测试并编写相关文档。</p>
                                    <p>4.思维敏捷,责任心强,有良好开发、测试、记录习惯。</p>
                                </div>
                            </div>
                            <div class="product-add">
                                <span>任职资格：</span>
                                <div>
                                    <p>1、要求有网站1年以上开发经验,能独立上岗及管理团队；</p>
                                    <p>2、精通html5,css，javascript等 web 编程语言；</p>
                                    <p>3、能熟练使用bootstrap，ASP.NET等主流框架。</p>
                                    <p>4、能使用ASP.NET并基于或不基于MVC框架开发（优先）；</p>
                                    <p>5、熟练掌握Oracle、SQLServer、MySQL等主流数据库，能独立完成数据库设计；</p>
                                    <p>6、事业心强，勤奋好学，有团队精神；</p>
                                </div>

                                <div class="product-add">
                                    <span>相关：</span>
                                    <div>
                                        <p>更新时间：2018-01-16</p>
                                        <p>职别类型：开发</p>
                                        <p>工作地点：自订</p>
                                        <p>招募人数：<font color="#FF5809">1</font>&nbsp;人</p>
                                        <p>月均薪资：<font color="#FF5809">1k</font>&nbsp;元</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </liclass=">
        </ul>
        <ul class=" product-show-ul">
            @* 第三个招聘模块 *@
            @*<li>
                <div class="product-content">
                    <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-left">
                        <img class="product-img" src="~/Content/images/Recruitment/zhaoping2.png" />
                    </div>
                    <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 recruit-right">

                        <div class="product-show-title">
                            <span>软件测试人员</span>
                        </div>

                        <div class="product-show-content">
                            <div class="product-add">
                                <span>岗位描述：</span>
                                <div>
                                    <p>1.熟悉软件系统开发的流程，了解软件系统开发的目标。</p>
                                    <p>2.能独立运用Java语言进行软件的开发。</p>
                                    <p>3.按时保质保量完成项目开发,运行测试并编写相关文档。</p>
                                    <p>4.思维敏捷,责任心强,能承受工作压力。</p>
                                </div>
                            </div>
                            <div class="product-add">
                                <span>任职资格：</span>
                                <div>
                                    <p>1、要求从软件研发工作2年以上工作经验,能独立上岗及管理团队；</p>
                                    <p>2、精通Java，Javascript等 web 编程语言；</p>
                                    <p>3、能熟练使用spring，hibernate等主流框架。</p>
                                    <p>4、能熟练使用jquery，以及基于Jquery的前台组件，熟悉Extjs 者优先；</p>
                                    <p>5、熟练掌握Oracle、SQLServer、MySQL等主流数据库，能独立完成数据库设计；</p>
                                    <p>6、事业心强，勤奋好学，有团队精神；</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>*@
        </ul>

        <div class="clear"></div>
    </div>


    <div class=" gray-li">
        <div class="am-container-1">
            <div class="part-title part-title-mar">
                <i class="am-icon-users part-title-i"></i>
                <span class="part-title-span">优厚待遇</span>
                <p>Good Treatments</p>
            </div>
        </div>
        <div data-am-widget="tabs" class="am-tabs am-tabs-d2 ">
            <ul class="am-tabs-nav am-cf daiyu-title-ul ">
                <li class="am-active "><a href="[data-tab-panel-0]"><span class="w-white"> 福利待遇</span></a></li>
                <li class=""><a href="[data-tab-panel-1]"><span class="w-white">薪资待遇</span></a></li>

            </ul>
            <div class="am-tabs-bd daiyu-content ">
                <div data-tab-panel-0 class="am-tab-panel am-active">
                    <div class=" daiyu-content-1">
                        <p>1.年终奖</p>
                        <p>2.每天7小时工作时间 早上9：00-12：00下午1：30-5:30</p>
                        <p>3.不定期团队内部庆祝（奖金）</p>
                    </div>

                </div>
                <div data-tab-panel-1 class="am-tab-panel ">
                    <div class=" daiyu-content-1">
                        <p>1.客服：100元-500元+（薪资）×10％</p>
                        <p>2.WEB前端开发：600元-1000元+{[（薪资）×10％]±10％}</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <footer class="footer ">

        <ul>

            <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
                <div class="part-5-title">联系我们</div>
                <div class="part-5-words2">
                    <span>地址:甘肃省-酒泉市-肃州区-盘旋西路</span>
                    <span>邮箱:evilrabbit520@Gmail.com</span>
                    <span>微信:Aprilhare_wjn</span>
                    <span><i class="am-icon-qq"></i><em>3114181277</em></span>
                </div>
            </li>

            <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
                <div class="part-5-title">相关链接</div>
                <div class="part-5-words2">
                    <ul class="part-5-words2-ul">
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">Googel guide</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="solutions.html">谷歌搜索</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="product-show.html">数维科技</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="recruit.html">招贤纳士</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">服务中心</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="https://jq.qq.com/?_wv=1027&k=5ODlSda">加入用户群</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>

            <li class="am-u-lg-3">
                <div class="part-5-title">我们一起</div>
                <div class="part-5-words2">
                    <img src="~/Content/images/public/QR_code_qun.jpg" />
                </div>
            </li>


        </ul>
        <div class="clear"></div>
    </footer>
    <script src="~/Content/js/Recruitment/jquery.min.js"></script>
    <script src="~/Content/js/Recruitment/amazeui.min.js"></script>
</body>
</html>
